.venv/
__pycache__/
*.egg-info/
.pytest_cache/
.ruff_cache/
artifacts/
.DS_Store
.upstream/
D-Pi/outputs/
D-Pi/data/Datasets/**/*.torch
D-Pi/data/Embeddings/**/*.torch
D-Pi/data/Segments/**/*.torch
D-Pi/clusters/
D-Pi/processed_data/
